* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper .input-description {
  margin-bottom: 0;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-field {
  width: 270px;
}
