* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-wrapper .input-description {
  margin-bottom: 0;
}

.form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-field {
  width: 100%;
}
